body {
    background-color: #7FFF00 !important;
    font-family: 'Nunito Sans', sans-serif;
}
.navbar {
    background-color: black;
}
.brand-color {
    color: #7FFF00 !important;
}
.btn-color {
    background-color: #7FFF00 !important;
    color: black !important;
}
.btn-color:hover {
    background-color: #5aa60d !important;
}
.players-card {
    background-color: black;
    color: #7FFF00;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 450px;
    min-height: 400px;
    text-align: center;
}
.btn-register {
    background-color: #7FFF00;
    color: black;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}
.btn-register:hover {
    background-color: #5aa60d;
}
.custom-footer {
    background-color: black;
    color: #7FFF00;
    padding: 50px 0;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}